<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Frequently asked question</h1>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Do I get benchmarks in my market(s)?</h3>
        </div>
        <div class="panel-body">
            Yes!
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Can I become a partner and resell Benchit to my customers?
            </h3>
        </div>
        <div class="panel-body">
            We would love that! Please contact us at <a href="mailto:stig@benchit.com">stig@benchit.com</a> and we will set it up!
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Can I connect all my brenads and benchmark them as well in the same account?
            </h3>
        </div>
        <div class="panel-body">Yes!</div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                How do i get support or help to use Benchit?
            </h3>
        </div>
        <div class="panel-body">
            Shoot us an email at <a href="mailto:support@benchit.com">support@benchit.com</a>.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Can I pay for Benchit?</h3>
        </div>
        <div class="panel-body">
            While the beta is currently free, it will be freemium very soon. If you want to work things into your budget already now, contact us at <a href="mailto:support@benchit.com">support@benchit.com</a> and we will let you in early on a paid account with all features unlocked.
        </div>
    </div>
</div>
